.form-box{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 65%;
    /* align-items: center; */
    /* background-color: black; */

}
.input-pair{
    display: flex;
    justify-content: space-between;
}
input{
    margin: 5px;
    width: 500px;
    height: 50px;
    font-size: 1.25rem;
}
label{
    font-family: sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 5px;
    width: 125px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    border: solid;
}
.clear{
    background-color: grey;
    color: white;
    border: none;
}
.add{
    background-color: green;
    border: none;
    color: white;
    align-self: center;
}